---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 16:30:34 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-653237434"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=794814375"}]}]}'
  recorded_at: Mon, 26 Sep 2022 16:30:34 GMT
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&title=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.019 TT 0 0.020"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 38,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL4930574W",
                    "type": "work",
                    "seed": [
                        "/books/OL17665953M",
                        "/books/OL17801719M",
                        "/books/OL2663740M",
                        "/works/OL4930574W",
                        "/subjects/government_executives",
                        "/subjects/training_of",
                        "/subjects/western_executive_seminar_center_(denver_colo.)",
                        "/subjects/place:united_states",
                        "/authors/OL1059069A"
                    ],
                    "title": "Relocation of Western Executive Seminar Center from Denver to Grand Junction, CO",
                    "title_suggest": "Relocation of Western Executive Seminar Center from Denver to Grand Junction, CO",
                    "edition_count": 3,
                    "edition_key": [
                        "OL17665953M",
                        "OL17801719M",
                        "OL2663740M"
                    ],
                    "publish_date": [
                        "1984"
                    ],
                    "publish_year": [
                        1984
                    ],
                    "first_publish_year": 1984,
                    "number_of_pages_median": 100,
                    "lccn": [
                        "85601140"
                    ],
                    "publish_place": [
                        "Washington"
                    ],
                    "contributor": [
                        "United States. Congress. House. Committee on Post Office and Civil Service. Subcommittee on Civil Service."
                    ],
                    "lcc": [
                        "KF-0027.00000000.G6678 1984g"
                    ],
                    "ddc": [
                        "353.0740978883"
                    ],
                    "last_modified_i": 1604445783,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "U.S. G.P.O."
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL1059069A"
                    ],
                    "author_name": [
                        "United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee."
                    ],
                    "author_alternative_name": [
                        "United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee",
                        "United States. Congress. House. Committee on Government Operations Manpower and Housing Subcommittee."
                    ],
                    "place": [
                        "United States"
                    ],
                    "subject": [
                        "Government executives",
                        "Training of",
                        "Western Executive Seminar Center (Denver, Colo.)"
                    ],
                    "publisher_facet": [
                        "U.S. G.P.O."
                    ],
                    "place_key": [
                        "united_states"
                    ],
                    "subject_facet": [
                        "Government executives",
                        "Training of",
                        "Western Executive Seminar Center (Denver, Colo.)"
                    ],
                    "_version_": 1735672853767913472,
                    "place_facet": [
                        "United States"
                    ],
                    "lcc_sort": "KF-0027.00000000.G6678 1984g",
                    "author_facet": [
                        "OL1059069A United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee."
                    ],
                    "subject_key": [
                        "government_executives",
                        "training_of",
                        "western_executive_seminar_center_(denver_colo.)"
                    ],
                    "ddc_sort": "353.0740978883"
                },
                {
                    "key": "/works/OL8503198W",
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "0762507845",
                        "9780762507849"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1735677215044009984,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL896607W",
                    "type": "work",
                    "seed": [
                        "/books/OL10945157M",
                        "/works/OL896607W",
                        "/authors/OL79165A"
                    ],
                    "title": "Denver west, CO and Bailey, CO: Denver, CO",
                    "title_suggest": "Denver west, CO and Bailey, CO: Denver, CO",
                    "subtitle": "39105, digital raster graphic data",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10945157M"
                    ],
                    "publish_date": [
                        "1996"
                    ],
                    "publish_year": [
                        1996
                    ],
                    "first_publish_year": 1996,
                    "isbn": [
                        "9780607620054",
                      [...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<appid>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664209834,"sunrise":1664196679,"sunset":1664239866,"temp":295.35,"feels_like":294.54,"pressure":1023,"humidity":35,"dew_point":279.18,"uvi":4.41,"clouds":0,"visibility":10000,"wind_speed":0.89,"wind_deg":132,"wind_gust":1.34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1664209860,"precipitation":0},{"dt":1664209920,"precipitation":0},{"dt":1664209980,"precipitation":0},{"dt":1664210040,"precipitation":0},{"dt":1664210100,"precipitation":0},{"dt":1664210160,"precipitation":0},{"dt":1664210220,"precipitation":0},{"dt":1664210280,"precipitation":0},{"dt":1664210340,"precipitation":0},{"dt":1664210400,"precipitation":0},{"dt":1664210460,"precipitation":0},{"dt":1664210520,"precipitation":0},{"dt":1664210580,"precipitation":0},{"dt":1664210640,"precipitation":0},{"dt":1664210700,"precipitati[...]
