---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=Washington,%20DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 11 Sep 2022 19:24:47 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Washington,
        DC"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Washington","adminArea5Type":"City","adminArea4":"District
        of Columbia","adminArea4Type":"County","adminArea3":"DC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282772166","unknownInput":"","type":"s","latLng":{"lat":38.892062,"lng":-77.019912},"displayLatLng":{"lat":38.892062,"lng":-77.019912},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=38.892062,-77.019912|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1864934662"}]}]}'
  recorded_at: Sun, 11 Sep 2022 19:24:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<appid>&lat=38.892062&lon=-77.019912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1662924288,"sunrise":1662893161,"sunset":1662938623,"temp":298.66,"feels_like":299.51,"pressure":1014,"humidity":86,"dew_point":296.14,"uvi":3.63,"clouds":100,"visibility":10000,"wind_speed":2.57,"wind_deg":160,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1662924300,"precipitation":0},{"dt":1662924360,"precipitation":0},{"dt":1662924420,"precipitation":0},{"dt":1662924480,"precipitation":0},{"dt":1662924540,"precipitation":0},{"dt":1662924600,"precipitation":0},{"dt":1662924660,"precipitation":0},{"dt":1662924720,"precipitation":0},{"dt":1662924780,"precipitation":0},{"dt":1662924840,"precipitation":0},{"dt":1662924900,"precipitation":0},{"dt":1662924960,"precipitation":0},{"dt":1662925020,"precipitation":0},{"dt":1662925080,"precipitation":0},{"dt":1662925140,"precipitati[...]
