---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=Washington,%20DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 23 Sep 2022 17:22:17 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Washington,
        DC"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Washington","adminArea5Type":"City","adminArea4":"District
        of Columbia","adminArea4Type":"County","adminArea3":"DC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282772166","unknownInput":"","type":"s","latLng":{"lat":38.892062,"lng":-77.019912},"displayLatLng":{"lat":38.892062,"lng":-77.019912},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=38.892062,-77.019912|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1685735872"}]}]}'
  recorded_at: Fri, 23 Sep 2022 17:22:17 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<appid>&lat=38.892062&lon=-77.019912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1663953737,"sunrise":1663930597,"sunset":1663974258,"temp":291.01,"feels_like":290,"pressure":1016,"humidity":44,"dew_point":278.6,"uvi":5.5,"clouds":20,"visibility":10000,"wind_speed":5.66,"wind_deg":340,"wind_gust":8.75,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1663953780,"precipitation":0},{"dt":1663953840,"precipitation":0},{"dt":1663953900,"precipitation":0},{"dt":1663953960,"precipitation":0},{"dt":1663954020,"precipitation":0},{"dt":1663954080,"precipitation":0},{"dt":1663954140,"precipitation":0},{"dt":1663954200,"precipitation":0},{"dt":1663954260,"precipitation":0},{"dt":1663954320,"precipitation":0},{"dt":1663954380,"precipitation":0},{"dt":1663954440,"precipitation":0},{"dt":1663954500,"precipitation":0},{"dt":1663954560,"precipitation":0},{"dt":1663954620,"precipitati[...]
