---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=Washington,%20DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 16:17:54 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Washington,
        DC"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Washington","adminArea5Type":"City","adminArea4":"District
        of Columbia","adminArea4Type":"County","adminArea3":"DC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282772166","unknownInput":"","type":"s","latLng":{"lat":38.892062,"lng":-77.019912},"displayLatLng":{"lat":38.892062,"lng":-77.019912},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=38.892062,-77.019912|marker-sm-50318A-1&scalebar=true&zoom=12&rand=690229842"}]}]}'
  recorded_at: Mon, 26 Sep 2022 16:17:54 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<appid>&lat=38.892062&lon=-77.019912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664209075,"sunrise":1664189959,"sunset":1664233166,"temp":296.95,"feels_like":296.59,"pressure":1006,"humidity":46,"dew_point":284.65,"uvi":3.04,"clouds":0,"visibility":10000,"wind_speed":5.14,"wind_deg":250,"wind_gust":7.2,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1664209080,"precipitation":0},{"dt":1664209140,"precipitation":0},{"dt":1664209200,"precipitation":0},{"dt":1664209260,"precipitation":0},{"dt":1664209320,"precipitation":0},{"dt":1664209380,"precipitation":0},{"dt":1664209440,"precipitation":0},{"dt":1664209500,"precipitation":0},{"dt":1664209560,"precipitation":0},{"dt":1664209620,"precipitation":0},{"dt":1664209680,"precipitation":0},{"dt":1664209740,"precipitation":0},{"dt":1664209800,"precipitation":0},{"dt":1664209860,"precipitation":0},{"dt":1664209920,"precipitati[...]
