---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<appid>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1662922170,"sunrise":1662899847,"sunset":1662945357,"temp":294.21,"feels_like":293.52,"pressure":1025,"humidity":44,"dew_point":281.5,"uvi":7.25,"clouds":0,"visibility":10000,"wind_speed":0.45,"wind_deg":187,"wind_gust":1.79,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1662922200,"precipitation":0},{"dt":1662922260,"precipitation":0},{"dt":1662922320,"precipitation":0},{"dt":1662922380,"precipitation":0},{"dt":1662922440,"precipitation":0},{"dt":1662922500,"precipitation":0},{"dt":1662922560,"precipitation":0},{"dt":1662922620,"precipitation":0},{"dt":1662922680,"precipitation":0},{"dt":1662922740,"precipitation":0},{"dt":1662922800,"precipitation":0},{"dt":1662922860,"precipitation":0},{"dt":1662922920,"precipitation":0},{"dt":1662922980,"precipitation":0},{"dt":1662923040,"precipitati[...]
