---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=Washington,%20DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 15:25:38 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Washington,
        DC"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Washington","adminArea5Type":"City","adminArea4":"District
        of Columbia","adminArea4Type":"County","adminArea3":"DC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282772166","unknownInput":"","type":"s","latLng":{"lat":38.892062,"lng":-77.019912},"displayLatLng":{"lat":38.892062,"lng":-77.019912},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=38.892062,-77.019912|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-901327118"}]}]}'
  recorded_at: Mon, 26 Sep 2022 15:25:38 GMT
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&title=Washington,%20DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.016 TT 0 0.018"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 3915,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL98030W",
                    "type": "work",
                    "seed": [
                        "/books/OL10901564M",
                        "/books/OL19984015M",
                        "/books/OL24965661M",
                        "/books/OL5538517M",
                        "/books/OL22361381M",
                        "/books/OL5772303M",
                        "/books/OL13675301M",
                        "/books/OL21638373M",
                        "/books/OL9644215M",
                        "/books/OL22788764M",
                        "/books/OL181340[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<appid>&lat=38.892062&lon=-77.019912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664205939,"sunrise":1664189959,"sunset":1664233166,"temp":296.11,"feels_like":295.77,"pressure":1006,"humidity":50,"dew_point":285.14,"uvi":3.5,"clouds":0,"visibility":10000,"wind_speed":5.14,"wind_deg":230,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1664205960,"precipitation":0},{"dt":1664206020,"precipitation":0},{"dt":1664206080,"precipitation":0},{"dt":1664206140,"precipitation":0},{"dt":1664206200,"precipitation":0},{"dt":1664206260,"precipitation":0},{"dt":1664206320,"precipitation":0},{"dt":1664206380,"precipitation":0},{"dt":1664206440,"precipitation":0},{"dt":1664206500,"precipitation":0},{"dt":1664206560,"precipitation":0},{"dt":1664206620,"precipitation":0},{"dt":1664206680,"precipitation":0},{"dt":1664206740,"precipitation":0},{"dt":1664206800,"precipitati[...]
