---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<appid>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1663953735,"sunrise":1663937311,"sunset":1663980964,"temp":296.8,"feels_like":295.98,"pressure":1015,"humidity":29,"dew_point":277.74,"uvi":4.86,"clouds":0,"visibility":10000,"wind_speed":4.02,"wind_deg":288,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1663953780,"precipitation":0},{"dt":1663953840,"precipitation":0},{"dt":1663953900,"precipitation":0},{"dt":1663953960,"precipitation":0},{"dt":1663954020,"precipitation":0},{"dt":1663954080,"precipitation":0},{"dt":1663954140,"precipitation":0},{"dt":1663954200,"precipitation":0},{"dt":1663954260,"precipitation":0},{"dt":1663954320,"precipitation":0},{"dt":1663954380,"precipitation":0},{"dt":1663954440,"precipitation":0},{"dt":1663954500,"precipitation":0},{"dt":1663954560,"precipitation":0},{"dt":1663954620,"precipitati[...]
