---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<appid>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1663958766,"sunrise":1663937311,"sunset":1663980964,"temp":298.54,"feels_like":297.71,"pressure":1015,"humidity":22,"dew_point":275.3,"uvi":6.97,"clouds":0,"visibility":10000,"wind_speed":4.47,"wind_deg":304,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1663958820,"precipitation":0},{"dt":1663958880,"precipitation":0},{"dt":1663958940,"precipitation":0},{"dt":1663959000,"precipitation":0},{"dt":1663959060,"precipitation":0},{"dt":1663959120,"precipitation":0},{"dt":1663959180,"precipitation":0},{"dt":1663959240,"precipitation":0},{"dt":1663959300,"precipitation":0},{"dt":1663959360,"precipitation":0},{"dt":1663959420,"precipitation":0},{"dt":1663959480,"precipitation":0},{"dt":1663959540,"precipitation":0},{"dt":1663959600,"precipitation":0},{"dt":1663959660,"precipitati[...]
